body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f5f5f5;
  color: #333;
}

header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 1em;
}

.puct-grid {
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
  padding: 2em;
}


.productos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem;
  flex: 2;
}

.producto {
  background: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  width: 250px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.producto img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.producto button {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  background: #27ae60;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.producto button:hover {
  background: #219150;
}

.carrito {
  width: 100%;
  padding: 1rem;
  background: #ecf0f1;
}

.carrito ul {
  list-style: none;
  padding: 0;
}

rod
footer {
  text-align: center;
  padding: 1em;
  background-color: #ddd;
  margin-top: 2em;
}

nav {
  display: flex;
  justify-content: center;
  gap: 40px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  padding: 5px 0;
  transition: color 0.3s ease;
}

nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #00fa00;
  transition: width 0.3s ease;
}

nav a:hover {
  color:  #00fa00;
}

nav a:hover::after {
  width: 100%;
}
